<form [formGroup]="feedbackQuestionarieForm">
    <div class="col-8 border-feedback-form rounded">
        <div class="form-group row" style="padding-top: 20px;">
            <label for="questionarieName" class="col-sm-2 col-form-label">Questionarie Name</label>
            <div class="col-sm-10">
                <input type="text" autocomplete="off" matInput class="form-control" id="questionarieName"
                    formControlName="questionarieName" placeholder="Questionarie Name">
            </div>
        </div>
        <div class="form-group row">
            <mat-label for="typeOfFeedback" class="col-sm-2 col-form-label">Type Of Feedback</mat-label>
            <div class="col-sm-10">
                <mat-select class="form-control" formControlName="typeOfFeedback">
                    <mat-option *ngFor="let typeOfFeedback of typeOfFeedbacks" [value]="typeOfFeedback.id">
                        {{typeOfFeedback.description}}
                    </mat-option>
                </mat-select>
            </div>
        </div>
        <div class="form-group row">
            <mat-label for="subType" class="col-sm-2 col-form-label">Sub Type</mat-label>
            <div class="col-sm-10">
                <mat-select class="form-control" formControlName="subType">
                    <mat-option *ngFor="let subType of subTypes" [value]="subType.id">{{subType.description}}
                    </mat-option>
                </mat-select>
            </div>
        </div>
        <div class="form-group row">
            <mat-label for="feedbackQuestions" class="col-sm-2 col-form-label">Feedback Questions</mat-label>
            <div class="form-group col-sm-9">
                <textarea *ngFor="let count of feedbackQuestionsCount;let i = index;" matInput class="form-control"
                    id="feedbackQuestions{{i}}" maxlength="50" formControlName="feedbackQuestions{{i+1}}"
                    placeholder="Feedback Questions"></textarea>
            </div>
            <div class="col-sm-1">
                <input type="button" class="form-control btn btn-primary" value="Add"
                    [disabled]="isFeedBackQuestionControlValid()" (click)="addFeedBackQuestionControl()">
            </div>
        </div>
        <div class="form-row text-center" style="padding-bottom: 10px;">
            <div class="col-12">
                <input type="button" class="btn btn-success" style="margin-right: 50px;"
                    [disabled]="feedbackQuestionarieForm.invalid" value="Submit" (click)="submitForm()">
                <input type="button" class="btn btn-success" [disabled]="feedbackQuestionarieForm.invalid"
                    value="Cancel" (click)="onCancelClick()">
            </div>
        </div>
    </div>
</form>