<div class="row">
    <div class="col-4">
        <div class="container">
            <div class="form-group">
                <ag-grid-angular #agGrid style="width: 1000px; height: 170px;" class="ag-theme-balham"
                    [gridOptions]="allEmployeesGridOptions" [enableSorting]="true">
                </ag-grid-angular>
            </div>
            <div class="form-group">
                <input type="button" class="btn btn-primary" value="Add" (click)="AddEmployee()" />
            </div>
        </div>
    </div>
</div>