<form>
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Employee Master</h5>
                <a href="JavaScript:void(0);" [routerLink]="'/employeesMaster'">
                    <p class="card-text">This is regardig employee master.</p>
                </a>
            </div>
            <div class="card-footer">
                <small class="footer text-muted">Powered by dinesh ~</small>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">FeedBack Questionnaire Master</h5>
                <a href="Javascript:void(0)" [routerLink]="'/questionarieMaster'">
                    <p class="card-text">This is regarding FeedBack Questionarie Master.</p>
                </a>
            </div>
            <div class="card-footer">
                <small class="footer text-muted">Powered by dinesh ~</small>
            </div>
        </div>
    </div>
</form>